/* Add a background color to the header element */
header{
background-color: #FF6347;
}
/* Add a fun background color to the main element */
main{
    background-color: aqua;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: blueviolet;
    font-style: italic;
}
/* Put a border around your image */
img{
    border: 5px solid #555;
}
/* Change the font-family of your list */
ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Add a background color to the footer element */
footer{
    background-color: azure;
}